input {
  lumberjack {
    port => 12345

    ssl_certificate => "{{ logstash_forwarder_key }}.crt"
    ssl_key => "{{ logstash_forwarder_key }}.key"

    type => "lumberjack"
  }
}

output {
  elasticsearch {
    host => "127.0.0.1"
    bind_host => "127.0.0.1"
  }
}
