{
  "network": {
    "servers": ["{{ logstash_server }}"],
    "ssl key": "/etc/logstash-forwarder/key",
    "ssl ca": "/etc/logstash-forwarder/crt",
    "timeout": 15
  },

  "files": [
    {
      "paths": [
        "{{ vx_home }}/web/shared/log/vxweb-consumers.*.json"
      ],
      "fields": {
        "type": "vxweb.consumers"
      }
    } ,
    {
      "paths": [
        "{{ vx_home }}/web/shared/log/vxweb-http.*.json"
      ],
      "fields": {
        "type": "vxweb.http"
      }
    } ,
    {
      "paths": [
        "{{ vx_home }}/web/shared/log/vxweb-as-notifier.*.json"
      ],
      "fields": {
        "type": "vxweb.as-notifier"
      }
    }
  ]
}

