- name: add erlang-solutions apt repo key
  apt_key: >
    url=http://packages.erlang-solutions.com/debian/erlang_solutions.asc

- name: add erlang-solutions apt repo
  apt_repository: >
    repo="deb http://packages.erlang-solutions.com/debian {{ ansible_distribution_release }} contrib"

- name: install erlang
  apt: pkg="erlang-nox={{ erlang_version }}"
