require 'mina/bundler'
require 'mina/rails'
require 'mina/git'

set :deploy_to, "{{ vx_home }}/auto_scale"

set :domain, 'web.example.com'
set :repository, 'git://github.com/vexor/vx-auto_scale.git'
set :branch, '{{ vx_as_branch }}'

set :user, '{{ vx_user }}'

set :shared_paths, ['log', 'config/puma.rb', 'tmp/pids', 'private']

task :environment do
  queue %{
    echo "-----> Run at $(date)"
    #{ echo_cmd %{export PATH={{ vx_home }}/bin:$PATH} }
  }
end

task :setup => :environment do
  queue %[mkdir -p "#{deploy_to}/shared/log"]
  queue %[chmod g+rx,u+rwx "#{deploy_to}/shared/log"]
end

desc "Deploys the current version to the server."
task :deploy => :setup do
  deploy do
    invoke :'git:clone'
    invoke :'deploy:link_shared_paths'
    invoke :'bundle:install'

    invoke :'rails:db_migrate'
    invoke :'rails:assets_precompile'

    to :launch do
      invoke :'deploy:cleanup'
    end
  end
end

