upstream {{ vx_user }}_upstream {
  server 127.0.0.1:3000;
}

server {
  listen 80;
  server_name _;

  client_max_body_size 4G;
  keepalive_timeout 5;

  auth_basic "Restricted";
  auth_basic_user_file /etc/nginx/{{ vx_user }}.htpasswd;

  root {{ vx_home }}/auto_scale/current/public;

  try_files $uri/index.html $uri.html $uri @app;

  location @app {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;

    proxy_redirect off;

    proxy_pass http://{{ vx_user}}_upstream;
  }

  location ~ ^/assets/ {
    # Per RFC2616 - 1 year maximum expiry
    # http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html
    expires 1y;
    add_header Cache-Control public;

    # Some browsers still send conditional-GET requests if there's a
    # Last-Modified header or an ETag header even if they haven't
    # reached the expiry date sent in the Expires header.
    add_header Last-Modified "";
    add_header ETag "";
    break;
  }

  error_page 500 502 503 504 /500.html;
  location = /500.html {
    root {{ vx_home }}/auto_scale/current/public;
  }
}
