description "start and stop the vexor auto scale sync daemon"
version "1.0"

start on filesystem or runlevel [2345]
stop on runlevel [!2345]

respawn
console log

setuid {{ vx_user }}
setgid {{ vx_user }}

script
  home={{ vx_home }}/auto_scale/current
  user={{ vx_user }}
  command="{{ vx_home }}/bin/{{ vx_user }}-sync"

  chdir $home
  exec $command
end script


