description "start and stop the vexor worker"
version "1.0"

start on filesystem or runlevel [2345]
stop on runlevel [!2345]

respawn
console log

script
  home={{ vx_home }}/worker
  user={{ vx_user }}
  command="{{ vx_bundle }} exec {{ vx_home }}/worker/bin/vx-worker"

  export PATH={{ vx_home }}/bin:$PATH

  chdir $home
  exec su -s /bin/sh -c "PATH=$PATH exec $command" $user
end script

